<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - PurpleX</title>

    <link rel="icon" href="../assets/SiteInstitucional/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/cadastro.css">
</head>

<body>
    <div id="container">
        <div class="header">
            <img id="logo" src="../assets/SiteInstitucional/logo.png">
        </div>
        <div class="conteudo">
            <div class="quadro-empresa texto" id="quadroEmpresaDiv">
                <div class="titulo">
                    <span id="spanTitulo">Agora, vamos cadastrar<br> no purpleX:</span>
                </div>
                <div class="form">
                    <span id="inputsText">Nome completo</span>
                    <input type="text" placeholder="Purple-x" id="nomeInput">
                    <br>
                    <span id="textCnpj">Token</span>
                    <input type="text" placeholder="ABC123" id="tokenInput" maxlength="6">
                    <br>
                    <!-- <span id="inputsText2">Cargo</span>
                    <select>
                        <option value="Gerente">Gerente</option>
                    </select>
                    <br> -->
                    <!-- <span id="textCpf">CPF</span>
                    <input type="text" placeholder="000.000.000-00" id="cpfInput" maxlength="11">
                    <br> -->
                    <span id="textTelefone">Telefone</span>
                    <input type="text" placeholder="(00) 00000-0000" id="telefoneInput" maxlength="15">
                    <br>
                    <!-- <span id="selectText">Número de franquias</span>
                    <input type="number" id="inputfranquia" placeholder="0"> -->
                    <!-- <div class="custom-select">
                        <ul>
                            <li onclick="selectOption('pequeno', this)">Pequeno</li>
                            <li onclick="selectOption('medio', this)">Médio</li>
                            <li onclick="selectOption('grande', this)">Grande</li>
                        </ul>
                        <select id="selectTipo" name="selectTipo">
                            <option value="pequeno">Pequeno</option>
                            <option value="medio">Médio</option>
                            <option value="grande">Grande</option>
                        </select>
                    </div> -->
                    <br>
                    <span id="textEmail">Email</span>
                    <input type="text" placeholder="seu@email.com" id="emailInput">
                    <br>
                    <span id="textSenha">Senha</span>
                    <div class="senha">
                        <input name="txtSenha" id="txtSenha" class="input" type="password" placeholder="●●●●●●">
                        <img src="../assets/loginCadastro/olho-fechado.png" class="lnr lnr-eye" alt="">
                    </div>
                    <br>
                    <span id="textConfirmSenha">Confirme a senha</span>
                    <div class="senha">
                        <input name="txtSenha_confirmation" id="txtSenha_confirmation" class="input" type="password"
                            placeholder="●●●●●●" required>
                        <img src="../assets/loginCadastro/olho-fechado.png" id="eye-confirm" class="lnr lnr-eye" alt="">
                    </div>
                    <div id="div_erro_cadastro"></div>
                    <br>
                    <button onclick="cadastrar()" class="botaoRoxo" id="openModal">Cadastrar</button>
                    <a class="voltar" href="../index.html">Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="conteudo-modal">
                <p>Cadastro realizado com sucesso</p>
                <span>Seja bem vindo, clique aqui e faça seu primeiro login</span>
                <br>
                <button id="botaoFinal">
                    <a href="./login.html">Login</a>
                </button>
            </div>
        </div>
    </div>
</body>

</html>

<script src="../js/LoginCadastro/cadastro.js"></script>
<script src="../js/LoginCadastro/mostrarSenha.js"></script>
<script src="../js/LoginCadastro/formatacaoCampos.js"></script>
<script src="../js/LoginCadastro/opcoesSelect.js"></script>

<body onload="obterEmpresas()">