<html lang="pt-BR">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="imagex/png" href="../assets/SiteInstitucional/icon.png">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="body">

    <!-- MENU LATERAL  -->
    <aside id="menu_lateral">
        <div id="container_menu_lateral">
            <div class="menu_purple_x">
                <div id="logo" class="menu_icon">
                    <img src="../assets/dashboard/logo.png" class="logo">
                </div>
                <div class="menu_titulo">
                    <span>Purple-X</span>
                </div>
            </div>
            <div class="menu" onclick="esconderMenu()">
                <div id="esconder_menu" class="menu_icon">
                    <img src="../assets/dashboard/icon_ocultar.png" class="lateral_icon">
                </div>
                <div class="menu_func">
                    <span>Ocultar menu lateral</span>
                </div>
            </div>
            <div class="menu" onclick="removerMaquina()">
                <div id="remover_maq" class="menu_icon">
                    <img src="../assets/dashboard/icon-gym.png" class="lateral_icon">
                </div>
                <div class="menu_func">
                    <span>Gerenciar Máquinas</span>
                </div>
            </div>
            <div class="menu" onclick="abrirNotificações()">
                <div id="sino" class="menu_icon">
                    <img src="../assets/dashboard/sino.png" class="lateral_icon">
                    <div id="divNotificacao">
                        <div id="div_circulo">
                            <div id="circulo_alerta"></div>
                        </div>
                    </div>
                </div>
                <div class="menu_func">
                    <span>Exibir Notificações</span>
                </div>
            </div>
        </div>
        <div class="menu_logout">
            <a href="./login.html">
                <div id="logout" class="menu_icon">
                    <img src="../assets/dashboard/door.png" class="lateral_icon">
                </div>
                <div class="menu_func">
                    <span>Logout</span>
                </div>
            </a>
        </div>
    </aside>

    <div id="header_main">
        <!-- CARROCEL -->
        <header id="carrocel"></header>
        <!-- GRÁFICO OU MÁQUINAS NO dadosMaquina.js -->
        <!-- ALERTA -->
        <div id="main_alert">
            <div id="alerta">
                <span class="close" onclick="fecharNotificacoes()">&times;</span>
                <p id="alerta_texto">Não há alertas</p>
            </div>
        </div>
    </div>
</body>

</html>

<script src="../js/dashboard/funcMaquina.js"></script>
<script src="../js/dashboard/funcCarrocel.js"></script>
<script src="../js/dashboard/funcGrafico.js"></script>
<script src="../js/dashboard/funcVerificarDados.js"></script>
<script src="../js/dashboard/funcMenu.js"></script>
<script data-jsd-embedded data-key="b3e6f822-b400-423e-b4aa-8b09a3b44fe8" data-base-url="https://jsd-widget.atlassian.com" src="https://jsd-widget.atlassian.com/assets/embed.js"></script>

<!-- EXECUTA FUNÇÔES DEPOIS DA <body> SER CARREGADA -->
<body onload="obterDemanda()">