<html lang="pt-BR">

<head>
    <title>Adicionar/Remover máquina</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="imagex/png" href="../assets/SiteInstitucional/icon.png">
    <link rel="stylesheet" href="../css/editarMaquina.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="body">

  

    <div id="header_main">
        <!-- CARROCEL -->
        <header id="carrocel"></header>
        <!-- GRÁFICO OU MÁQUINAS NO dadosMaquina.js -->
        <!-- ALERTA -->
        <div id="main_alert">
            <div id="alerta">
                <span class="close" onclick="fecharNotificacoes()">&times;</span>
                <p id="alerta_texto">Não há alertas</p>
                <!-- AVISO VERMELHO -->
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_100">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Leg Press está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_101">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Supino Inclinado está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_102">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Smith está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_104">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Remada Convergente está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_105">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Biceps Convergente está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_vermelho aviso_vermelho_106">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_vermelho.png" alt="aviso_vermelho">
                        <div id="div_mensagem">
                            <p>A máquina Shoulder Press está com a demanda alta</p>
                        </div>
                    </div>
                </div>
                <!-- AVISO LARANJA -->
                <div id="container_alerta" class="aviso_laranja aviso_laranja_100">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja">
                        <div id="div_mensagem">
                            <p>A máquinas Leg Press está com a demanda média</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_laranja aviso_laranja_101">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja">
                        <div id="div_mensagem">
                            <p>A máquina Supino Inclinado está com a demanda média</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_laranja aviso_laranja_102">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja">
                        <div id="div_mensagem">
                            <p>A máquina Smith está com a demanda média</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_laranja aviso_laranja_104">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja aviso_laranja_104">
                        <div id="div_mensagem">
                            <p>A máquina Remada Convergente está com a demanda média</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_laranja aviso_laranja_105">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja aviso_laranja_105">
                        <div id="div_mensagem">
                            <p>A máquina Biceps Convergente está com a demanda média</p>
                        </div>
                    </div>
                </div>
                <div id="container_alerta" class="aviso_laranja aviso_laranja_106">
                    <div class="centralizar_alertas">
                        <img src="../assets/dashboard/aviso_laranja.png" alt="aviso_laranja aviso_laranja_106">
                        <div id="div_mensagem">
                            <p>A máquina Shoulder Press está com a demanda média</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="../js/dashboard/funcMenu.js"></script>
<script src="../js/dashboard/dadosMaquina.js"></script>
<script src="../js/dashboard/funcCarrocel.js"></script>
<script src="../js/dashboard/funcMaquina.js"></script>
<script src="../js/dashboard/funcPopup.js"></script>
<!-- USAR SOMENTE SE O BANCO NÃO ESTIVER CONECTADO 👇 -->
<script src="../js/dashboard/funcVerificarDados.js"></script>

<!-- EXECUTA FUNÇÔES DEPOIS DA <body> SER CARREGADA -->

<body onload=" verificarDados(), mostrarTodasMaquinas(), atualizarDados(), obterMaquinas()">