<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilac-X</title>
    <link rel="stylesheet" href="../css/styleIa.css">
</head>

<body>

    <div id="container">
        <div class="container2">
            <div class="form_container">
                <h1>Lilac-X</h1>
                <br>
                <textarea id="pergunta" type="text" placeholder="Digite a pergunta..."></textarea>
                <br>
                <button onclick="gerarResposta()">Gerar Resposta</button><br>
                <h3 id="titulo_resposta"></h3>
                <div id="respostaContainer"></div>
            </div>
        </div>
    </div>

    <script>

        async function gerarResposta() {
            const pergunta = document.getElementById('pergunta').value;


            fetch('/ia/perguntar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ pergunta })
            }).then(async function (resposta) {
                const data = await resposta.json()

                respostaContainer.style.display = 'block';
                document.getElementById('respostaContainer').innerHTML = data.resultado;


                titulo_resposta.style.display = 'block';
                titulo_resposta.innerHTML = `Resposta da IA:`;


            });

        }

    </script>

</body>

</html>