body {
    background-color: #000000ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5%;
    user-select: none;
    overflow: hidden;
}

aside {
    width: 5%;
    height: 100%;
    margin-left: -0.48%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: #6F0F77; */
    background-color: #880094;
    border-radius: 0px 20px 20px 0px;
    transition: 0.25s;
}


#header_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5%;
}

header {
    width: 100%;
    height: 9.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5%;
    overflow-x: auto;
    white-space: nowrap;
    flex-flow: row nowrap;
}

#main_alert {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    transition: 0.25s;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
}

/* CARROCEL */

.div_carrocel {
    width: 8%;
    height: 90%;
    /* background-color: #7000ff; */
    background-color: #880094;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

.div_carrocel:hover {
    /* background-color: #600e68; */
    background-color: #550B5B;
}

/* .img_carrocel {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .img {
    height: 100%;
    width: 100%;
} */

.titulo_carrocel {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: center;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 600;
}

.baixa {
    border: 3px solid green;
}

.media {
    border: 3px solid #ff8c00;
}

.alta {
    border: 3px solid red;
}

::-webkit-scrollbar {
    height: 8px;
    background-color: #ffffff46;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
}

/* MENU LATERAL */

#container_menu_lateral {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_purple_x {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_logout {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 0px 20px 0px;
}

.menu_icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.menu_func {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    color: #ffffff;
    font-size: 1vw;
    font-weight: 600;
}

.menu_titulo {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: bolder;
}

.logo {
    width: 100%;
    height: 100%;
}

.lateral_icon {
    width: 70%;
    height: 70%;
}

.menu_oculto {
    width: 4.7%;
    height: 9.4%;
    position: fixed;
}

.div_menu_oculto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
}

aside:hover {
    width: 15%;
}

aside:hover>#container_menu_lateral>.menu_purple_x>.menu_icon, aside:hover>#container_menu_lateral>.menu>.menu_icon, aside:hover>.menu_logout>a>.menu_icon {
    width: 62%;
}

aside:hover>.div_menu_oculto>.menu_icon {
    width: 48.5%;
}

aside:hover>#container_menu_lateral>.menu>.menu_func, aside:hover>#container_menu_lateral>.menu_purple_x>.menu_titulo, aside:hover>#container_menu_lateral>.menu>.menu_func, aside:hover>.div_menu_oculto>.menu_func, aside:hover>.menu_logout>a>.menu_func {
    display: flex;
}

.menu:hover, .menu_logout:hover, .div_menu_oculto:hover {
    background-color: #550B5B;
}


/* GRÁFICOS */

.color1 {
    /* background-color: #6F0F77; */
    background-color: #880094;
}

.color2 {
    background-color: #7000ff;
}

/* GRÁFICO GERAL */

#container_grafico_geral {
    width: 99%;
    height: 99%;
    background-color: #7000ff;
    /* background-color: #880094; */
    border-radius: 50px;
    display: flex;
    flex-direction: row;
}

#container_info_maquinas {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.container_alerta_geral {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 600;
    word-break: break-all;
    text-align: center;
}

.div_grafico_geral {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.div_grafico {
    width: 95%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_dado_geral {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 1.25vw;
    font-weight: 600;
}

.div_valor_alerta_geral {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #ffffffa2;
    border-radius: 10px; */
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.4s;
    color: #880094;
    /* border-radius: 30px; */
    font-size: 1.4vw;
    font-weight: 600;
    /* padding: 20px 30px; */
}


.div_categoria {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container_categoria {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.txt_dash{
    display: flex;
    justify-content: center;
}


.div_valor_geral {
    width: 160%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
    /* background-color: #ffffffa2;
    border-radius: 10px; */
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.4s;
    color: #880094;
    /* border-radius: 30px; */
    font-size: 1.5vw;
    font-weight: 600;
    /* padding: 20px 30px; */
}

#grafico_linha {
    width: 100%;
    height: 100%;
}

/* MÁQUINAS */

.container_maq {
    height: 99%;
    width: 99%;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

/* PARTE DA ESQUERDA, INFO DA MÁQUINA */

.info_maq {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-size: 1.55vw;
    margin-left: 1.5%;
}

.div_nome_maq {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_idMaq {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.select_maq {
    margin-top: 1%;
    width: 18%;
    height: 70%;
    border-radius: 10px;
    font-size: 0.8vw;
    font-weight: bold;
    text-align: center;
}

.img_maquina {
    height: 40%;
    width: 100%;
}

.dados_maq {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text_titulo {
    margin-top: 1%;
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: bold;
}

.div_dados_maq {
    width: 95%;
    margin-left: 5%;
}

/* PARTE DA DIREITA, GRÁFICO E DADOS DA MÁQUINA */

.index_maq {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invertido {
    flex-direction: column-reverse;
    margin-top: 1%;
    align-items: center;
}

.container_grafico {
    width: 100%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grafico_maq {
    margin-top: 1%;
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff;
}

.container_valor {
    width: 95%;
    height: 25%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div_valor {
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffffa2;
    border-radius: 10px; */
    background-color: #ffffff;
    border-radius: 20px;
    transition: 0.4s;
    color: #880094;
    /* border-radius: 30px; */
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    /* padding: 20px 30px; */
}

.div_valor:hover,
.div_valor_geral:hover,
.div_valor_alerta_geral:hover {
    transform: scale(1.1);
}


.div_valor span {
    text-transform: uppercase;
}

#img-supino {
    height: 100%;
    width: 100%;
}

#img_leg_press {
    width: 100%;
    height: 100%;
}

.demandas_alinhamento {
    padding-left: 20px;
}

.img_todas_maq {
    height: 100%;
    width: 90%;
}

.green {
    color: green;
}

.select_maq {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 35%;
    height: 100%;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
    font-size: 1vw;
    text-align: center;
}

.select_maq option {
    color: inherit;
    background-color: #320a28;
}

.select_maq:focus {
    outline: none;
}

.select_maq::-ms-expand {
    display: none;
}

/* ALERTA */
#alerta {
    width: 25%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 1%;
    margin-top: 0.2%;
    background-color: #ffffffb1;
    border-radius: 5px;
    height: 99%;
    overflow: auto;
}

#alerta::-webkit-scrollbar {
    width: 10px;
}

#alerta::-webkit-scrollbar-track {
    background: #464646;
}

#alerta::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

#sino {
    position: relative;
}

#div_circulo {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    top: 20%;
    left: 65%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

#circulo_alerta {
    width: 85%;
    height: 85%;
    margin-top: 3.3%;
    border-radius: 50%;
    background-color: #ffffff;
}

.close {
    color: #000000;
    float: right;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 2%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#container_alerta {
    background-color: white;
    color: black;
    width: 75%;
    border-radius: 20px;
    padding: 15px;
    margin-right: 5%;
    background-color: #ffffff;
}

#container_alerta img {
    width: 18%;
    padding-bottom: 2px;
    padding-top: 2px;
}

#alerta_texto {
    margin-right: 28%;
    color: #000000;
}

#div_mensagem p {
    font-size: 1vw;
    font-weight: 600;
}

.aviso_laranja {
    border: 3.5px solid #ff8c00;
}

.aviso_vermelho {
    border: 3.5px solid #ff0000;
}

.centralizar_alertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centralizar_alertas p {
    text-align: center;
}

.oculto {
    display: none;
}

.meu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
    animation: fadeIn 0.5s;
}

.modal-conteudo {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s ease-out;
}

.fechar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #9b59b6;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #8e44ad;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8e44ad;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
