@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v22/c4mw1n92AsfhuCq6tVsaoIx1LQICk0boNoq0ShMzVo0iPw.woff2) format('woff2');
    unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}

/*font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Dongle', sans-serif;

Cores:
#6F0F77
*/

* {
    padding: 0;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: black;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    user-select: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    align-items: center;
}

.a_logo_header {
    width: 15%;
    height: 15%;
}

.menus_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_header {
    display: flex;
    gap: 12px
}

#btn_login {
    font-size: 25px;
    width: 90px;
    height: 40%;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

#btn_cadastro {
    font-size: 25px;
    width: 120px;
    height: 40%;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

#btn_cadastro a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

#btn_login a {
    text-decoration: none;
    color: #000000;
    font-weight: 800;
}

#btn_login:hover,
#btn_cadastro:hover {
    background-color: rgba(0, 0, 0, 0.153);
    border: 2px solid #ffffff;
    border-radius: 35px;
    color: #ffffff;
}

#btn_login:hover a,
#btn_cadastro:hover a {
    color: #ffffff;
}

.logo {
    width: 200px;
}

.navbar {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navbar a:hover {
    color: #880094;
    transition: color 0.7s ease;
}

main {
    padding-top: 50px;
}

.conteudo_home {
    height: 550px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 50px;
}

.imagem_home {
    background-image: url('../assets/SiteInstitucional/img_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180%;
    height: 600px;
    z-index: -1;

}

.texto_home h3 {
    color: #880094;
    text-shadow: 0.056em 0.02em 0.01em #550B5B;
    padding-top: 20px;
    z-index: 1;
    float: right;
    margin-right: -250px;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 100px;
    letter-spacing: -3px;
    line-height: 120px;
}

.quem_somos {
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding-top: 10px;
}

.textura_quem_somos {
    background-image: url('../assets/SiteInstitucional/background_quemSomos.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 100px;
    height: 100vh;
    background-color: #550B5B;
}

.conteudo_quem_somos {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: center;
    align-content: center;
}

.quemsomos_descricao {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    width: 550px;
}

.imgQuems img {
    height: 100vh;
    padding-top: 4px;

}

.titulo_quemsomos {
    font-size: 35px;
}

.texto_quemsomos h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 35px;
}

#btn_quem_somos {
    background-color: #ffffff;
    margin-top: 50px;
    color: #550B5B;
    font-size: 23px;
    width: 43%;
    border: 3px solid #ffffff;
    margin-left: 80px;
}

.projeto {
    padding-top: 120px;
    margin-top: 10px;
    width: 100vw;
    align-items: center;
}

.conteudo1 {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    height: 300px;
    margin: 0px 150px;
    padding-bottom: 10px;
}

.imagemProjeto img {
    width: 55%;
    height: 55%;
    border-radius: 50%;
}

.divImgTex h3 {
    font-size: 15px;
    padding-top: 10px;

}

.conteudo_projeto {
    padding-top: 25px;
    margin-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_projeto {
    font-size: 30px;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    padding: 30px 200px;
    text-align: center;
}

.imagem_quebraProjeto {
    background-image: url('../assets/SiteInstitucional/backgroundGif1.gif');
    margin-top: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 175px;
}

.imagem_quebraProjeto h3 {
    margin: auto;
    font-size: 30px;
}

.texto_projeto1 {
    margin-top: 40px;
    padding: 0px 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.projeto_secao {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.solucao h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.funcionamento h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 25px;
}

.titulo_secao h3 {
    font-size: 20px;
    padding: 15px 0px;
}

.titulo_secao h6 {
    font-size: 10px;
    margin-top: -10px;
}

.beneficios {
    padding: 15px 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin: auto;
}

.card {
    width: 250px;
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color: #6A2C70;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #111;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #111;
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
    transform: rotateY(180deg);
}


/* .beneficio h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1.5px;
    line-height: 25px;
    text-align: left;
} */

.ultima_secao_projeto {
    padding: 50px 180px 0px;
}

.ultima_secao_projeto h3 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px
}

#btn_projeto {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #111;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;
}

#btn_projeto:hover {
    color: white;
    background: #880094;
}

#btn_projeto:active {
    letter-spacing: 2px;
    letter-spacing: 2px;
}

#btn_projeto a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.calculadora {
    width: 100vw;
    background-color: black;
    padding-top: 50px;
    height: 100vh;
}

.img_fundo_calculadora {
    background-image: url('../assets/SiteInstitucional/sim_financeiro_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo_simulador {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.titulo {
    font-size: 30px;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    padding: 0px 100px;
    text-align: center
}

.container_simulador {
    margin: auto;
    width: 350px;
    height: 310px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #272328b7;
    margin-bottom: 15px;
}

.input-container {
    position: relative;
}

.input-com-imagem {
    padding-left: 30px;
    border: 1px solid #CCCCCC;
    width: 300px;
    height: 30px;
    padding: 2px;
    margin-top: 10px;
    position: relative;
    background-color: #380a3c00;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #ffffff;
}

.input-com-imagem::placeholder {
    color: #ffffff;
}

.label-imagem {
    position: absolute;
    width: 20px;
    z-index: 1;
    top: 24%;
    left: 254px;
    display: none;
}

.imagem-input {
    width: 20px;
    height: auto;

}

.texto-pequeno {
    font-size: 10px;
    margin-top: 5px;
    display: none;
}

button {
    font-family: 'Dongle', sans-serif;
    height: 15%;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
}

#btn_simular {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 30px;
}


#btn_simular:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#btn_simular:hover:before {
    opacity: 1;
}

#btn_simular:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.contato {
    background-color: #380A3C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.conteudo_contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container_contato {
    display: flex;
    margin: auto;
    width: 800px;
    height: 300px;
    padding: 20px;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.direito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.direito h2 {
    font-size: 15px;
}

.esquerdo h2 {
    font-size: 15px;

}

.texto_contato {
    font-size: 20px;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    padding: 30px 200px;
    text-align: center;
}

.input_contato {
    width: 220px;
    background-color: #f0efef;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
}

.input_contato:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.input_contato:hover {
    outline: 1px solid lightgrey;
}

.input_contato_descreva {
    background-color: #f0efef;
    padding: 175px 20px;
    border-radius: 10px;
    width: 115%;
    color: #242424;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    resize: vertical;
    padding-top: 10px;
    font-family: "Inter", sans-serif;
    resize: none;
}

.input_contato_descreva:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 4px 4px 2px 2px;
}

.input_contato_descreva:hover {
    outline: 1px solid lightgrey;
}


#btn_contato {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 700;
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    cursor: pointer;
    position: relative;
    cursor: pointer;

    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: #880094;
    }

    &:active {
        letter-spacing: 2px;
        letter-spacing: 2px;
    }

}

#btn_contato a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #FEFEFE;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 40%;
    border-radius: 20px;
    height: 30%;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#exibir {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;

}

#contatoButton {
    display: inline-block;
    color: #6F0F77;
    text-align: center;
    font-weight: bold;
}

.rodape_conteudo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 50px 10px;
}

.colunas {
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.logo_rodape {
    width: 23%;
}

.button_rodape {
    color: white;
    text-align: center;
    cursor: pointer;
}

.coluna1 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.coluna2 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.coluna3 a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

.modal-abrir {
    overflow: hidden;
}

.meu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
}

.modal-conteudo {
    background-color: #ffffff; /* fundo branco */
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* centraliza conteúdo */
    color: #333; /* texto preto */
    font-family: Arial, sans-serif; /* fonte padrão */
}

.fechar {
    color: #000; /* ícone de fechar preto */
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fechar:hover,
.fechar:focus {
    color: #666; /* escurece ícone de fechar ao passar o mouse */
}

.texto-explicativo {
    font-size: 16px;
    margin-bottom: 20px;
    color: #333; /* texto preto */
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; /* texto preto */
}

.form-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #af4cad; /* borda lilás */
    border-radius: 4px;
    box-sizing: border-box;
    color: #333; /* texto preto */
    background-color: #ffffff; /* fundo branco */
    font-family: Arial, sans-serif; /* fonte padrão */
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #520451; /* borda lilás mais escuro ao focar */
}

.form-submit-button {
    background-color: #af4cad; /* roxo lilás */
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif; /* fonte padrão */
    transition: background-color 0.3s ease;
}

.form-submit-button:hover {
    background-color: #520451; /* tom mais escuro de roxo */
}

