body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background-color: #880094;
    width: 38%;
    height: 650px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.container {
    background-color: #ffffff;
    width: 50%; /* Mesma largura que a .box para ficarem uma ao lado da outra */
    height: 650px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.conteudo{
    flex-direction: column;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    margin: 0;
}

h1 {
    color: #ffffff;
}

button{
    background-color: #88009400;
    color: #ffffff;
    width: 200px;
    height: 35px;
    border-radius: 35px;
    border-color: #ffffff;
    border-style: solid;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(85, 24, 79);
}