body {
    background-color: #000000ff;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titulo_logo {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%;
}

#perfil {
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
}

#logo {
    width: 13%;
    height: 100%;
}

#ativar_controle {
    display: none;
}

main {
    display: flex;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

#control {
    position: absolute;
    width: 25%;
    height: 50%;
    margin-top: 3%;
    background-color: #ffffff;
    border-radius: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control-icon {
    width: 95%;
    height: 90%;
}

#select_categoria {
    border-radius: 10px;
}

#checked {
    display: none;
    border-top: 1px solid #00000048;
    margin-top: 10px;
}

#menu_lateral {
    margin-left: -97%;
    height: 20%;
    width: 3%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fixo_lateral {
    width: 100%;
    height: 40%;
    background-color: #6F0F77;
    border-radius: 0px 20px 20px 0px;
    border: solid wheat;
}

#main_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
}

#div_check{
    display: none;
}

/* .dois_container {
    height: 100%;
    width: 40%;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
} */

.um_container {
    height: 99%;
    width: 99%;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.um_container > .info_maq{
    width: 25%;
    height: 100%;
}

.info_maq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.info_maq > h1 {
    font-size: 50px;
}

.index_maq {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container_grafico {
    width: 100%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lineChart {
    margin-top: 1%;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#lineChart {
    border-radius: 10px;
    background-color: #ffffff;
}

#select_dia2 {
    border: none;
    color: #ffffff;
    font-size: 35px;
    height: 40px;
    width: 260px;
    text-align: center;
}

.container-text {
    width: 100%;
    height: 25%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-media-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.color1 {
    background-color: #6F0F77;
}

.color2 {
    background-color: #7000ff;
}

.text {
    color: #ffffff;
    font-size: 30px;
}

.img-supino {
    height: 50%;
    width: 60%;
}

.img-leg-press {
    height: 30%;
    width: 100%;
}

/* .index {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
} */

/* .container-media {
    width: 100%;
    display: flex;
    flex-direction: row;
} */