body {
    background-color: #000000ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    color: #ffffff;
}

#main_aside {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 0.5%;
}

aside {
    height: 100%;
    width: 4%;
    margin-left: -0.4%;
    display: flex;
    flex-direction: column;
    background-color: #6F0F77;
    border-radius: 0px 20px 20px 0px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* CARROCEL */

.div_carrocel {
    width: 150px;
    height: 100%;
    background-color: #7000ff;
    border-radius: 10px;
    margin-right: 10px;
    flex-shrink: 0;
}

.img_carrocel {
    height: 70%;
    width: 100%;
}

.titulo_carrocel {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU LATERAL */

#ativar_controle, #ativar_grafico{
    display: none;
}

.fixo_lateral {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateral_icon {
    width: 90%;
    height: 75%;
}

/* GRÁFICOS */

.color1 {
    background-color: #6F0F77;
}

.color2 {
    background-color: #7000ff;
}

.text {
    color: #ffffff;
    font-size: 30px;
}

.text_pequeno {
    color: #ffffff;
    font-size: 25px;
}

/* GRÁFICO GERAL */

#container_grafico_geral {
    width: 100%;
    height: 99%;
    background-color: #7000ff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    border: solid orange;
}

#div_chk_graficos {
    margin-top: 1%;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#div_chk_graficos div {
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.container_dois_grafico {
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.div_grafico {
    width: 48%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_dado_geral {
    width: 100%;
    height: 20%;
}

/* MÁQUINAS */


/* .main_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid red;
} */

/* .dois_container {
    height: 100%;
    width: 40%;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
} */

.um_container {
    height: 99%;
    width: 99%;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

/* PARTE DA ESQUERDA, INFO DA MÁQUINA */

.info_maq {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div_nome_maq {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_idMaq {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.select_maq {
    margin-top: 1%;
    width: 18%;
    height: 70%;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.img_maquina {
    height: 40%;
    width: 100%;
}

.dados_maq {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text_titulo {
    margin-top: 1%;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.div_dados_maq {
    width: 95%;
    margin-left: 5%;
}

.div_template_musculos {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.template_musculos {
    width: 80%;
    height: 100%;
}

/* PARTE DA DIREITA, GRÁFICO E DADOS DA MÁQUINA */

.index_maq {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invertido {
    flex-direction: column-reverse;
    margin-top: 1%;
    align-items: center;
}

.container_grafico {
    width: 100%;
    height: 75%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grafico_maq {
    margin-top: 1%;
    height: 90%;
    width: 75%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff;
}

/* #select_dia2 {
    border: none;
    color: #ffffff;
    font-size: 35px;
    height: 40px;
    width: 260px;
    text-align: center;
} */

.container_valor {
    width: 95%;
    height: 25%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div_valor {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffffa2;
    border-radius: 10px;
}

#img-supino {
    height: 100%;
    width: 100%;
}

#img_leg_press {
    width: 100%;
    height: 100%;
}

/* .index {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
} */

/* .container-media {
    width: 100%;
    display: flex;
    flex-direction: row;
} */