
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v22/c4mw1n92AsfhuCq6tVsaoIx1LQICk0boNoq0ShMzVo0iPw.woff2) format('woff2');
    unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.box {
    background-color: #880094;
    width: 500px;
    height: 650px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.container {
    background-color: #ffffff;
    width: 500px; /* Mesma largura que a .box para ficarem uma ao lado da outra */
    height: 650px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.conteudo{
    flex-direction: column;
    text-align:  center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 600px;
    margin: 0;
}


.conteudo2{
    flex-direction: column;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
    margin: 0;
}

#fraseClicavel:hover {
    text-decoration: underline; /* Adiciona um sublinhado quando o mouse passa por cima */
}


h1 {
    color: #ffffff;
    font-family: "Kumbh Sans", sans-serif;
}
h2{
    color: rgb(150, 46, 139);
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    margin-top: -30px;
}
input {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #F0F0F0;
    padding: 8px;
}


button{
    background-color: #88009400;
    color: #ffffff;
    width: 200px;
    height: 35px;
    border-radius: 35px;
    border-color: #ffffff;
    border-style: solid;
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(85, 24, 79);
}

#botaologin:hover{
    background-color: rgb(85, 24, 79);
}


#logo3 {
    width: 185px;

}

#login2 {
    width:300px ;
    
    
    

}

#page2{
    background-color: #880094;
}

#botaologin{
    background-color: #880094;
    color: #ffffff;
    width: 202px;
    height: 40px;
    border-radius: 35px;
    border-color: #ffffff;
    border-style: solid;
    outline: none;
    cursor: pointer;
}

#textCnpj{
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 175px;
}

.senha {
    position: relative;
}

.lnr-eye {
    position: absolute;
    right: 12px;
    top: 9px;
    width: 18px;
    cursor: pointer;
}

#textSenha{
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 170px;
}