@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/kumbhsans/v22/c4mw1n92AsfhuCq6tVsaoIx1LQICk0boNoq0ShMzVo0iPw.woff2) format('woff2');
    unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
  }


/*font-family: 'Inter', sans-serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Dongle', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
}

.a_logo_header{
    width: 15%;
    height: 15%;
}

.logo{
    width: 200px;
}

.navbar{
    font-family: "Inter", sans-serif;
    color:#ffffff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navbar a:hover{
    color: #880094;
}

main{
    padding-top: 100px;
}

.conteudo_home{
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
}

.imagem_home{
    background-image: url('imgs/img_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    height: 500px;
    margin-left: 50px;
    z-index: -1;
}

.texto_home{
    font-family: "Kumbh Sans", sans-serif;
    color: #880094;
    font-weight: 800;
    text-shadow: 0.056em 0.02em 0.01em #550B5B;
    user-select: none;
    z-index: 1;
    float: right;
    margin-right: -250px;
    margin-left: 200px;
    margin-top: 30px;
    font-size: 110px;
}

.quem_somos{
    width: 100vw;
    height:700px;
    background-color: #550B5B;
}

.textura_quem_somos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('imgs/background_quemSomos.png');
    background-repeat: no-repeat;
    height: 700px;
}

.conteudo_quem_somos{
    padding-top: 20px;
    margin-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.texto_btn_quemsomos{
    width: 50%;
}

.logo_quemsomos{
    width: 450px;
}

.projeto{

}

.conteudo_projeto{
    padding-top: 20px;
    margin-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calculadora{
    width: 100vw;
    height:700px;
    background-color: black;
    
}

.img_fundo_calculadora{
    background-image: url('imgs/sim_financeiro_img.png');
    background-repeat: no-repeat;
    height: 700px;
}

.conteudo_simulador{
    padding-top: 20px;
    margin-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 40px;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    padding: 120px 200px 70px;
}

.container_simulador{
    margin: auto;
    width: 350px; 
    height: 250px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #272328;
}

.input{
    border-radius: 50px;
    width: 220px;
    height: 22px;
    padding: 2px;
}

.input::placeholder {
    padding: 5px;
    color: #550B5B;
}

button{
    width: 130px;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

#btn_simular{
    background-color: #ffffff;
    color: #550B5B;
}

.contato{
    background-color: #380A3C;
    height: 700px;
}